<ion-header>
  <ion-toolbar color="baseApp">
    
    <ion-buttons slot="start" style="position: absolute;" >
      <ion-icon name="arrow-round-back" style="font-size: 25px;" (click)="backTab()"></ion-icon>
    </ion-buttons>

    <ion-title>Realizar nuevo pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.show-qr-scanner]="isOn">
  <ion-grid style="margin-top:3em">
    <ion-row>
      <ion-col  >
        <div class="textScan">
          Para realizar el pago se tus productos scanea el QR del ticket 
        </div>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col style="text-align: center;" (click)="scann()">
         <ion-icon name="qr-scanner" class="baseColor"  style="font-size: 8em" ></ion-icon>
      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col >
          <ion-button color="primary" expand="block"  (click)="scann()" style="background: #3399CC; color:#fff">
            <ion-icon name="ios-qr-scanner-outline"  > </ion-icon>  escanear Qr
          </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top:1em">
      <ion-col >
          <div class="textScan">
            o  ingresa el código que aparece en el ticket 
          </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align-self-center>        
        <ion-input placeholder="XXXXXXXX" class="inputCode" style="border: none;height: 100%; width: 100%; border: 1px solid #3399CC;" 
        (keyup) = "searchTicket($event)"  [(ngModel)]="inputTicket" ></ion-input> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
          <ion-button color="primary" expand="block"  (click)="activeSearch(inputTicket)" style="background: #3399CC; color:#fff">
            <ion-icon name="ios-qr-scanner-outline" > </ion-icon>  Buscar
          </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>


    
</ion-content>
