<ion-header>
  <ion-toolbar color="baseApp" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  > RFC's </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="load">
    <!-- Sliding item with icon top options on end side -->
    <ion-item-sliding *ngFor="let row of rows">
        <ion-item >
          <ion-label style="margin-left: 10px">
            {{row.razon_social}}
          </ion-label>
          <br>
          <small style="color:#a3a3a3"> {{row.rfc}} </small>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="primary">
            <ion-icon slot="top" name="create"></ion-icon>
            Editar
          </ion-item-option>
          <ion-item-option color="danger" (click)="confirmDelete(row)">
            <ion-icon slot="top" name="trash"></ion-icon>
            Borrar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addRfc()"></ion-icon>
      
    </ion-fab-button>
  </ion-fab>
</ion-content>