<ion-header>
  <ion-toolbar color="baseApp">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  >Mi perfil  </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="section" *ngIf="load">
    <ion-segment-button value="gral">
      <ion-label>Datos Generales</ion-label>
    </ion-segment-button>
    <ion-segment-button value="password">
      <ion-label>Cambiar contraseña</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="load && section == 'gral' ">
  
    <ion-row justify-content-center style="margin-top:1em">       
      <div class="profilePic" [style.backgroundImage]="'url('+ photo +')'" > </div>
    </ion-row>


    <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Name" [(ngModel)]="profile.name">
          </mat-form-field>
       </ion-col>
      </ion-row>

      <ion-row>
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Apellidos" [(ngModel)]="profile.lastName">
          </mat-form-field>        
      </ion-row>

      <ion-row>      
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Correo" [(ngModel)]="profile.email">
          </mat-form-field>        
      </ion-row>

  </ion-grid>

  <ion-grid *ngIf="load && section == 'password' ">
    <p style=" margin-left: 10px; margin-right: 10px;"> Ingresa tu contraseña actual y tu nueva contraseña para actualizarla.</p>
    
    <ion-row>
      <ion-col>
        <mat-form-field class="example-full-width" style="width:100%">
          <input required matInput type="password" placeholder="Contraseña actual" [(ngModel)]="formUsr.passwordCurrent"  value="" >
        </mat-form-field>
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
            <input required matInput type="password" placeholder="Nueva contraseña" [(ngModel)]="formUsr.password"  value="" >
          </mat-form-field>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
            <input required matInput type="password" placeholder="Confirmar nueva contraseña" [(ngModel)]="formUsr.cPassword"  value="" >
          </mat-form-field>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  

</ion-content>

<ion-footer class="footerButton" >
    <ion-button color="primary" expand="block" *ngIf="section== 'gral'"  style="background: #3399CC; color:#fff"  >
      <ion-icon name="ios-qr-scanner-outline" > </ion-icon>  Actualizar
    </ion-button>

    <ion-button color="primary" expand="block" *ngIf="section== 'password'" style="background: #3399CC; color:#fff"  >
      <ion-icon name="ios-qr-scanner-outline" > </ion-icon>  Actualizar
    </ion-button>
  </ion-footer>