<ion-header>
  <ion-toolbar color="baseApp" >
    <ion-buttons slot="start" style="position: absolute;" >
      <ion-icon name="arrow-round-back" style="font-size: 25px;" (click)="backTab()"></ion-icon>
    </ion-buttons>
    <ion-title>Facturar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 style="text-align: center;">Monto de facturación</h3>
  <ion-grid>
    <ion-row style="text-align: end">
      <ion-col size="8">
        <strong> Subtotal:</strong>
      </ion-col>
      <ion-col size="4">
        <label>{{ticket.subtotal | currency }}</label>
      </ion-col>
    </ion-row>

    <ion-row style="text-align: end">
      <ion-col size="8">
        <strong> IVA:</strong>
      </ion-col>
      <ion-col size="4">
        <label>{{ticket.iva | currency }}</label>
      </ion-col>
    </ion-row>

    <ion-row style="text-align: end">
      <ion-col size="8">
        <strong> Total:</strong>
      </ion-col>
      <ion-col size="4">
        <label>{{ticket.total | currency }}</label>
      </ion-col>
    </ion-row>

  </ion-grid>
  
  
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Selecciona RFC para facturar</ion-label>
    </ion-list-header>
    <ion-item end>
      <ion-button color="primary" expand="block"  (click)="addRfc()" style="background: #3399CC; color:#fff">
        <ion-icon name="ios-qr-scanner-outline" > </ion-icon>  Agregar RFC
      </ion-button>
    </ion-item>
    <ion-item *ngFor="let row of rows">
      <ion-label>
        {{ row.razon_social }} <br> 
        {{ row.rfc }}
      </ion-label>
      <ion-radio slot="start" value="{{row.id}}" [(ngModel)]="rfcSelected" (ionSelect)="showValue(row)"  ></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>


</ion-content>

<ion-footer class="footerButton">
  <ion-button color="primary" expand="block"  (click)="sendToInvoce()" style="background: #3399CC; color:#fff">
    <ion-icon name="ios-qr-scanner-outline" > </ion-icon>  Facturar
  </ion-button>
</ion-footer>