<ion-header>
  <ion-toolbar color="baseApp">
      <ion-buttons slot="start" style="position: absolute;" >
        <ion-icon name="arrow-round-back" style="font-size: 25px;" (click)="backTab()"></ion-icon>
      </ion-buttons>
    <ion-title>Detalle ticket</ion-title>    

  </ion-toolbar>
</ion-header>

<ion-content> 
  <!-- info ticket -->
  <ion-list>
    <ion-item *ngFor="let row of rows">
        <ion-card style="width:100%">
          <ion-card-header>
            <ion-card-subtitle> <b> {{row.descripcion}} </b> </ion-card-subtitle>
            
          </ion-card-header>
        
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6"> Valor unitario  </ion-col>
                <ion-col size="6" style="text-align: right"> {{row.valor_unitario | currency }}  </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="6"> Cantidad {{row.cantidad}}</ion-col>                  
                <ion-col size="6" style="text-align: right"> {{row.cantidad | currency }}  </ion-col>
                
              </ion-row>
              
              <ion-row>
                <ion-col size="6"> Importe </ion-col>
                <ion-col size="6" style="text-align: right"> {{row.importe | currency }}  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-item>
  </ion-list>

  <!-- info ticket -->
  
</ion-content>