<ion-header>  
  <ion-toolbar color="baseApp">
    <ion-buttons slot="start">
      <ion-icon name="arrow-round-back" (click)="close()" style="font-size: 25px"></ion-icon>
    </ion-buttons>
    
  </ion-toolbar>
  
</ion-header> 
<ion-content>
  <img src="{{img}}">
</ion-content>
