


.footerButton{
    height: 3em;
    line-height: 3em;
    text-align: center;
}


ion-toolbar {
    .toolbar-container{
        color: purple
    }
    
}

.toolbar-background{
    background: #3399CC !important;
    color: #fff;
}

:root {
    --ion-color-baseApp: #3399CC;
}

ion-toolbar {
    background: #3399CC !important;
    color: #fff;
}

.baseColor{
    color:#3399CC
}

ion-title{
    position: absolute;
    left: 0;   
    position: absolute;
    width: 100%;
    top: .8em;
    text-align: center;
}
