<ion-header>
  <ion-toolbar color="baseApp" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  > Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p style=" margin-left: 10px; margin-right: 10px;"> Ingresa tu contraseña actual y tu nueva contraseña para actualizarla.</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-form-field class="example-full-width" style="width:100%">
          <input required matInput type="password" placeholder="Nueva contraseña" [(ngModel)]="formUsr.password"  value="" >
        </mat-form-field>
     </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <mat-form-field class="example-full-width" style="width:100%">
          <input required matInput type="password" placeholder="Confirmar nueva contraseña" [(ngModel)]="formUsr.cPassword"  value="" >
        </mat-form-field>
     </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer class="footerButton" >
  <ion-button color="primary" expand="block"  (click)="updatePassword()" style="background: #3399CC; color:#fff">
    <ion-icon name="ios-qr-scanner-outline" > </ion-icon>  Actualizar
  </ion-button>
</ion-footer>