<ion-header>
    <ion-toolbar color="baseApp">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title  >Promociones </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
  <ion-grid *ngIf="promotions.length == 10000"> 
    <ion-row>
      <ion-col style="text-align: center">
          <i class="material-icons" style="color: #3399CC;font-size: 5em;">card_giftcard</i>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center">
          No hay promociones disponibles
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-card *ngFor="let row of promotions">
    
    <img src="{{ imgPromo( row.imgs_promo) }}" style="width: 50%;margin: auto;" *ngIf="row.imgs_promo.length >0"  >
      <ion-card-header>
        <ion-card-title>{{row.name}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          {{row.description}}

          <div>
            <small style="color:#ccc"> Promoción válida de  {{row.dateIni | date: 'dd/MM/yyyy' }} a {{ row.dateEnd | date: 'dd/MM/yyyy'  }} </small>
          </div>
      </ion-card-content>
    </ion-card>

</ion-content>
