.head-table{
    background-color: #3399CC;
    color: #fff
}

.divider{
    border-left: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
}

.text-fin-ticket{
    font-size: 12px;
}

.selectCustom{
    border: 1px solid #3399CC;
}