<ion-header>
  <ion-toolbar color="baseApp" >
    <ion-buttons slot="start" style="position: absolute;" *ngIf="state == 'pay' ">
      <ion-icon name="arrow-round-back" style="font-size: 25px;" (click)="backTab()"></ion-icon>
    </ion-buttons>
    <ion-title>Ticket </ion-title>
    <ion-buttons end style="  position: absolute; right: 0;top: 15px;" (click)="requestPayment()">
        <button ion-button icon-only>
          <ion-icon name="refresh" style="font-size: 25px; color:#fff; "></ion-icon>
        </button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <p> Si su pago es en efectivo, esperemos a que finalice la compra, no cierre la pantalla</p>
  <ion-grid *ngIf="state == 'pay' ">
    <ion-row>
      <ion-col>
          <ion-select placeholder="Seleccione tarjeta" class="selectCustom" [(ngModel)]="cardPay" >
            <ion-select-option *ngFor="let row of cards" value="{{row.id}}"  >XXXX-{{row.number}}</ion-select-option>
            <!-- <ion-select-option value="new">Agregar tarjeta</ion-select-option> -->
          </ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="head-table"> 
      <ion-col size="4" class="divider"> <b> Catidad</b> </ion-col>
      <ion-col size="4" class="divider"> <b>Producto</b> </ion-col>
      <ion-col size="4" class="divider"> <b>Importe</b>  </ion-col>
    </ion-row>

    <ion-row *ngFor="let row of conceptos"> 
      <ion-col size="4" class="divider"> {{ row.cantidad }} </ion-col>
      <ion-col size="4" class="divider"> {{row.descripcion}} </ion-col>
      <ion-col size="4" class="divider"> {{ row.importe | currency }}  </ion-col>
    </ion-row>

  <!--  Datos de ticket final -->
    <ion-row>
      <ion-col size="6" > </ion-col>
      <ion-col size="2" class="text-fin-ticket" > <b>Subtotal</b> </ion-col>
      <ion-col size="4" class="text-fin-ticket">  {{ subtotal | currency }} </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" > </ion-col>
      <ion-col size="2" class="text-fin-ticket" > <b>I.V.A.</b> </ion-col>
      <ion-col size="4" class="text-fin-ticket"> {{ iva | currency }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" > </ion-col>
      <ion-col size="2" class="text-fin-ticket" > <b>Total</b> </ion-col>
      <ion-col size="4" class="text-fin-ticket"> {{ total | currency }} </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="state=='payed' ">
    <ion-row>
      <ion-col>
        <h2 style=" text-align: center;color: #919191;">Gracias por tu preferencia </h2>
      </ion-col>
    </ion-row>

    <ion-row> 
      <ion-col style="text-align: center">
          <ion-icon name="checkmark-circle" style="color:green; font-size:8em"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <p style=" text-align: center;color: #919191;"> ¿Deseas facturar esta compra?</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" style="text-align: center;">
            <button mat-stroked-button color="warn" style="width:10em" (click)="invoice('no')">No</button>
        </ion-col>

        <ion-col size="6" style="text-align: center;">
            <button mat-stroked-button color="primary" style="width:10em" (click)="invoice('si')">Si</button>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="footerButton" *ngIf="state == 'pay' ">
  <ion-button color="primary" expand="block"  (click)="PayTicket()" style="background: #3399CC; color:#fff">
    <ion-icon name="ios-qr-scanner-outline" > </ion-icon>  Pagar
  </ion-button>
</ion-footer>