<ion-header>
  <ion-toolbar color="baseApp" >
    <ion-buttons slot="start" style="position: absolute;" >
      <ion-icon name="arrow-round-back" style="font-size: 25px;" (click)="close()" ></ion-icon>
    </ion-buttons>
    
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/imgs/system/Inicio-2732x4857.jpg');" text-center>

  <div class="conta" style="margin-top: 15%;">
    <img class="logo" src="/assets/imgs/system/icon-clickGasolineras.png">

    <div class="title">Registro</div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Nombre" [(ngModel)]="register.name">
          </mat-form-field>
       </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Apellidos" [(ngModel)]="register.last_name">
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Correo" [(ngModel)]="register.email">
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
              <input matInput placeholder="Contraseña" [(ngModel)]="register.password" type="password">
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
              <input matInput placeholder="Confirmar contraseña" [(ngModel)]="register.cpassword" type="password">
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-button expand="block" (click)="registerUser()" >Registrar</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>


<ion-footer class="footerButton" [routerLink]="['/session/login']">
  ¿Ya tienes cuenta? Inicia sesión
</ion-footer>