<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->


<ion-app>
  <ion-split-pane color="baseApp">
    <ion-menu type="overlay" *ngIf="sessionActive" color="baseApp">
      <ion-header>
        <ion-toolbar color="baseApp">
          <ion-title>Concent gas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]"  *ngIf="p.type == 'link' ">
              <ion-icon slot="start" [name]="p.icon" style="color: #3399CC"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

            <ion-item *ngIf="p.type == 'function' && p.keyW == 'qualification' ">
              <ion-icon slot="start" [name]="p.icon" style="color: #3399CC" ></ion-icon>
              <ion-label>
                {{p.title}} 
              </ion-label>
            </ion-item>

            <ion-item *ngIf="p.type == 'function' && p.keyW == 'recom' ">
              <ion-icon slot="start" [name]="p.icon" style="color: #3399CC"></ion-icon>
              <ion-label>
                {{p.title}} 
              </ion-label>
            </ion-item>

            <ion-item *ngIf="p.type == 'function' && p.keyW == 'close' " (click)="close()"> 
              <ion-icon slot="start" [name]="p.icon" style="color: #3399CC"></ion-icon>
              <ion-label>
                {{p.title}} 
              </ion-label>
            </ion-item>


          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
