<ion-header>  
    <ion-toolbar color="baseApp">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title  >Pagos  </ion-title>
      
    </ion-toolbar>
  </ion-header> 
  
  
  <ion-content>
    <ion-list *ngIf="load">
      <ion-item *ngFor="let row of rows" >
        <ion-grid>
          <ion-row>
            <ion-col size="8" (click)="ticketDetail(row.ticketId)"> 
               Total: {{ row.total | currency }}  <br>
              <small style="color: #a9a9a9;"> {{row.fecha | date: 'dd/MM/yyyy' }} </small> 
            </ion-col>
            <ion-col size="4" style="text-align: right"> 

              <div class="contentInvoice" *ngIf="!row.pdf" (click)="Facturar(row.codeTicket)"> 
                <ion-icon name="document" class="colorClick"></ion-icon>
                <br>
                <span style="font-size: 10px">  Facturar </span>
              </div>

              <div  *ngIf="row.pdf" class="contentInvoice" [style.backgroundImage]="'url('+ parsePdfXml(row) +')'" 
              style="background-size: cover;" (click)="openInvoice(row)" ></div>
                <!-- <ion-badge *ngIf="row.status == 'success' " color="success">Pagado</ion-badge>
                <ion-badge *ngIf="row.status == 'failed' " color="danger">Rechazado</ion-badge> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      
    </ion-list>
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add" (click)="addPay()" ></ion-icon>
        
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  