<ion-header>
  <ion-toolbar color="baseApp" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  > Tarjetas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- Sliding item with icon top options on end side -->
    <ion-item-sliding *ngFor="let row of cards">
        <ion-item>
          <ion-icon name="card"></ion-icon>
          <ion-label style="margin-left: 10px">
            XXXX-{{row.number}}
          </ion-label>
          <br>
          <small style="color:#a3a3a3"> exp. {{row.month}}/{{row.year}} </small>
        </ion-item>
        <ion-item-options>
          
          <ion-item-option color="danger" (click)="confirmDelete(row)">
            <ion-icon slot="top" name="trash"></ion-icon>
            Borrar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addCard()"></ion-icon>
      
    </ion-fab-button>
  </ion-fab>
</ion-content>