<ion-header>
  <ion-toolbar color="baseApp">
      <ion-buttons slot="start" style="position: absolute;" >
        <ion-icon name="arrow-round-back" style="font-size: 25px;" (click)="backTab()"></ion-icon>
      </ion-buttons>
    <ion-title>Factura express</ion-title>    

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- info ticket -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Código <b> {{info.code}} </b> </ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3"> Subtotal  </ion-col>
          <ion-col size="3"> {{info.subtotal | currency }}  </ion-col>
          <ion-col size="3"> IVA  </ion-col>
          <ion-col size="3"> {{info.iva | currency }}  </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">   </ion-col>
          <ion-col size="3">   </ion-col>
          <ion-col size="3"> Total  </ion-col>
          <ion-col size="3"> {{info.total | currency }}  </ion-col>
        </ion-row>
        <a (click)="showDetail()"> Ver detalle </a>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- info ticket -->

  
  <ion-grid>
    <ion-row>
      <ion-col>  
        <mat-form-field class="example-full-width" style="width:100%">
          <input required matInput placeholder="Correo" [(ngModel)]="invoiceData.email"  value="">
        </mat-form-field>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>  
        <mat-form-field class="example-full-width" style="width:100%">
          <input required matInput placeholder="Razón social" [(ngModel)]="invoiceData.razon_social"  value="">
        </mat-form-field>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>          
        <mat-form-field class="example-full-width" style="width:100%">
          <input required matInput placeholder="RFC" [(ngModel)]="invoiceData.RFC" style="text-transform: uppercase"  value="">
        </mat-form-field>          
      </ion-col>
    </ion-row>

    <ion-row>
      
      <ion-col size="6">
          <mat-form-field class="example-full-width" style="width:100%">
              <input matInput placeholder="País" [(ngModel)]="invoiceData.pais"  value="">
          </mat-form-field>
      </ion-col>

      <ion-col size="6">
        <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Estado" [(ngModel)]="invoiceData.estado"  value="">
        </mat-form-field>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Ciudad" [(ngModel)]="invoiceData.ciudad"  value="">
          </mat-form-field>
      </ion-col>

      <ion-col size="6">
        <mat-form-field class="example-full-width" style="width:100%">
          <input matInput placeholder="Colonia" [(ngModel)]="invoiceData.colonia"  value="">
        </mat-form-field>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <mat-form-field class="example-full-width" style="width:100%">
          <input matInput placeholder="Calle" [(ngModel)]="invoiceData.calle"  value="">
        </mat-form-field>
      </ion-col>

      <ion-col size="6">
        <mat-form-field class="example-full-width" style="width:100%">
          <input matInput placeholder="CP" [(ngModel)]="invoiceData.cp"  value="">
        </mat-form-field>
      </ion-col>

    </ion-row>

    <ion-row>
      
      <ion-col size="6">
        <mat-form-field class="example-full-width" style="width:100%">
          <input matInput placeholder="No. Int" [(ngModel)]="invoiceData.noInt"  value="">
        </mat-form-field>
      </ion-col>

      <ion-col size="6">
        <mat-form-field class="example-full-width" style="width:100%">
          <input matInput placeholder="No. Ext" [(ngModel)]="invoiceData.noExt"  value="">
        </mat-form-field>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="footerButton" >
  <ion-button color="primary" expand="block"  style="background: #3399CC; color:#fff" (click)="sendInvoice()" >
    <ion-icon name="ios-qr-scanner-outline" > </ion-icon>  Facturar
  </ion-button>
</ion-footer>