<ion-header>
  <ion-toolbar color="baseApp" >    
    <ion-buttons slot="start" style="position: absolute;" >
      <ion-icon name="arrow-round-back" style="font-size: 25px;" (click)="backTab()"></ion-icon>
    </ion-buttons>
    <ion-title  > {{title}} tarjeta </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <mat-form-field class="example-full-width" style="width:100%">
          <input required matInput type="text" placeholder="Nombre de tarjetahabiente" [(ngModel)]="cardInfo.cardName"  value="" >
        </mat-form-field>
     </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
            <input required matInput placeholder="No. tarjeta" mask="0000-0000-0000-0000" [(ngModel)]="cardInfo.cardNumber"  value="">
          </mat-form-field>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <mat-form-field class="example-full-width" style="width:100%">
            <input required matInput placeholder="CVV" mask="0000" [(ngModel)]="cardInfo.cardCvv"  value="">
        </mat-form-field>
      </ion-col>

      <ion-col size="6">
        <mat-form-field class="example-full-width" style="width:100%">
            <input required matInput placeholder="Expira (MM/AA)"  mask="00/00" [(ngModel)]="cardInfo.expirate"  value="">
        </mat-form-field>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-button expand="block" (click)="saveData()" >Agregar</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>