<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
  </form>
</ion-content> -->
<ion-content style="background-image: url('assets/imgs/system/Inicio-2732x4857.jpg');" text-center>

  <div class="conta" style="margin-top: 30%;">
    <h3 class="title">Gas App </h3>
    <img class="logo" src="/assets/imgs/system/icon-clickGasolineras.png">


    <ion-grid>
      <ion-row style="margin-top: 1em;">
        <ion-col style="text-align:center">
          Inicia sesión y ahorra tiempo facturando tu gasolina <br> o<br> factura de forma exprés
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 2em;">
        <ion-col>
            <!-- <ion-button expand="block" (click)="authSession()" >Iniciar sesión</ion-button> -->
            <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="section"  >
                <ion-segment-button value="login">
                  <ion-label>Iniciar sesión </ion-label>
                </ion-segment-button>
                <ion-segment-button value="facturar">
                  <ion-label>Factura express</ion-label>
                </ion-segment-button>
              </ion-segment>
        </ion-col>
      </ion-row>

    </ion-grid>
    

    

  </div>

</ion-content>

