<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-round-back"  style="color: black; font-size: 2em " [routerLink]="['/session/login']" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/imgs/system/Inicio-2732x4857.jpg');" text-center>

  <div class="conta" style="margin-top: 15%;">
    <img class="logo" src="assets/imgs/system/icon-clickGasolineras.png">

    <div class="title">Recuperar contraseña</div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Usuario" [(ngModel)]="email">
          </mat-form-field>
       </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-button expand="block" (click)="restorePassword()" >Recuperar contraseña</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
    

    

  </div>

</ion-content>


