<ion-header>
  <ion-toolbar color="baseApp" >
    <ion-buttons slot="start" style="position: absolute;" >
      <ion-icon name="arrow-round-back" style="font-size: 25px;" (click)="backTab()"></ion-icon>
    </ion-buttons>
    <ion-title>Ticket </ion-title>
    <ion-buttons slot="end" style="position: absolute;" >
        <ion-icon name="refresh" style="font-size: 25px;" (click)="requestPayment()"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <p> Si su pago es en efectivo, esperemos a que finalice la compra, no cierre la pantalla</p>
    <ion-row>
      <ion-col>
          <ion-select placeholder="Seleccione tarjeta" class="selectCustom" [(ngModel)]="cardPay" *ngIf="typeView == 'pay' " >
            <ion-select-option *ngFor="let row of cards" value="{{row.id}}"  >XXXX-{{row.number}}</ion-select-option>
            <ion-select-option value="new">Agregar tarjeta</ion-select-option>
          </ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="head-table"> 
      <ion-col size="4" class="divider"> <b> Catidad</b> </ion-col>
      <ion-col size="4" class="divider"> <b>Producto</b> </ion-col>
      <ion-col size="4" class="divider"> <b>Importe</b>  </ion-col>
    </ion-row>

    <ion-row *ngFor="let row of conceptos"> 
      <ion-col size="4" class="divider"> {{ row.cantidad }} </ion-col>
      <ion-col size="4" class="divider"> {{row.descripcion}} </ion-col>
      <ion-col size="4" class="divider"> {{ row.importe | currency }}  </ion-col>
    </ion-row>

  <!--  Datos de ticket final -->
    <ion-row>
      <ion-col size="6" > </ion-col>
      <ion-col size="2" class="text-fin-ticket" > <b>Subtotal</b> </ion-col>
      <ion-col size="4" class="text-fin-ticket">  {{ subtotal | currency }} </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" > </ion-col>
      <ion-col size="2" class="text-fin-ticket" > <b>I.V.A.</b> </ion-col>
      <ion-col size="4" class="text-fin-ticket"> {{ iva | currency }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" > </ion-col>
      <ion-col size="2" class="text-fin-ticket" > <b>Total</b> </ion-col>
      <ion-col size="4" class="text-fin-ticket"> {{ total | currency }} </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footerButton" *ngIf="typeView == 'pay' ">
  <ion-button color="primary" expand="block"  (click)="PayTicket()" style="background: #3399CC; color:#fff">
    <ion-icon name="ios-qr-scanner-outline" > </ion-icon>  Pagar 
  </ion-button>
</ion-footer>