<ion-header>
  <ion-toolbar color="baseApp">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title  >Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item detail [routerLink]="['/profile/detail']" >     
    <ion-label>
        <ion-icon name="contact" slot="start" class="icon-menu"></ion-icon> 
        <span class="text-menu">Mi información</span>
    </ion-label>
  </ion-item>
  
  <ion-item detail [routerLink]="['/profile/changePassword']">        
    <ion-label>      
      <ion-icon name="lock" class="icon-menu" slot="start"></ion-icon>
      <span class="text-menu">Cambiar contraseña</span>
    </ion-label>
  </ion-item>

  <ion-item detail [routerLink]="['/profile/rfc/list']">
    <ion-label >
        <ion-icon name="document" slot="start" class="icon-menu"></ion-icon>  
        <span class="text-menu">Mis RFC's</span>
    </ion-label>
  </ion-item>

  <ion-item (click)="buttonClick()" detail [routerLink]="['/profile/card/list']" >
    <ion-label>
      <ion-icon name="card" slot="start" class="icon-menu"></ion-icon>  
      <span class="text-menu">Tarjetas</span>
    </ion-label>
  </ion-item>

  <ion-item (click)="buttonClick()" detail>
    <ion-label>
      <ion-icon name="star-outline" slot="start" class="icon-menu"></ion-icon>  
      <span class="text-menu">Califica la app</span>
    </ion-label>
  </ion-item>

  <ion-item (click)="buttonClick()" detail>
    <ion-label>
      <ion-icon name="share-alt" slot="start" class="icon-menu"></ion-icon>  
      <span class="text-menu">Recomiendanos</span>
    </ion-label>
  </ion-item>

  <ion-item (click)="closeSession()" detail>
    <ion-label>
      <ion-icon name="power" slot="start" class="icon-menu"></ion-icon>  
      <span class="text-menu">Cerrar sesión</span>
    </ion-label>
  </ion-item>
  
 
</ion-content>
