
<ion-header>
    <ion-toolbar color="baseApp" >
      <ion-buttons slot="start" style="position: absolute;" >
        <ion-icon name="arrow-round-back" style="font-size: 25px;" (click)="backTab()"></ion-icon>
      </ion-buttons>
      <ion-title>Iniciar sesión </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content style="background-image: url('assets/imgs/system/Inicio-2732x4857.jpg');" text-center>

  <div class="conta" style="margin-top: 15%;">
    <img class="logo" src="/assets/imgs/system/icon-clickGasolineras.png">

    <ion-grid>
      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Usuario" [(ngModel)]="user.username">
          </mat-form-field>
       </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" style="width:100%">
              <input matInput placeholder="Contraseña" [(ngModel)]="user.password" type="password">
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row justify-content-end>
        <ion-col >
          <div class="pass" text-right>
            <span [routerLink]="['/session/forgot-password']">Olvidé mi contraseña</span>
          </div>
        </ion-col>
      </ion-row>
      

      <ion-row>
        <ion-col>
            <!-- <ion-button expand="block" (click)="authSession()" >Iniciar sesión</ion-button> -->
            <ion-button expand="block" (click)="authSession()" style="background-color: #3399CC">Iniciar sesión</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
    

    

  </div>

</ion-content>


<ion-footer class="footerButton" (click)="openRegister()" >
  ¿Aún no tienes cuenta? Registrate aquí
</ion-footer>