<ion-header>  
    <ion-toolbar color="baseApp">
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title  >Sucursales  </ion-title>        
    </ion-toolbar>
</ion-header> 

<ion-content>

    <div id="map" style="width:100%; height: 100%;"></div>
</ion-content>
